 footer {
background-color: var(--background-color);
padding: 30px 30px;
text-align: center;
font-size: 1rem;
margin-top: 40px;
border-top: 2px solid var(--primary-color);
}

.footer__content {
margin: 8px 0;
line-height: 1.5; 
}

.footer__links {
margin: 12px 0;
}

.footer__links a {
color: #1e5484;
text-decoration: none;
font-weight: 500;
transition: color 0.3s;
padding: 0 5px;
}

.footer__links a:hover {
text-decoration: underline;
}
