.lista-productos {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.lista-productos__filtro {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-productos__filtro select {
    padding: 10px;
    font-size: 1rem;
    border: 3px solid var(--color-style-principal);
    border-radius: 5px;
    background-color: rgb(241, 229, 206);
}